/*CSS document*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
width: 100%;
display: block;
}
body {
    background: rgb(232, 233, 237);
}
div.container, div.home-container {
max-width: 50em;
margin: 0 auto;
background-color: rgb(232, 233, 237);
}
nav ul  {
margin: 0rem 0.5rem 1rem;
}
nav li{
list-style-type: none;
margin-bottom: 0.15em;
} 
nav a {
text-decoration: none;
font-family: "gimlet-text", serif;
font-weight: 500;
font-style: normal;
font-size: 1em;
color: rgb(101, 90, 42);
}
section a{
text-decoration: none;
}
h1 {
width: 8em;
margin: 1rem 0.5rem;
}
h2, h3, article h2{
font-family: "hardcover-vf", sans-serif;
font-variation-settings: "wght" 700;
color: rgb(101, 90, 42);
}
p, article p, section a p, .secondarystory p{
font-family: "gimlet-text", serif;
font-weight: 400;
font-style: normal;
color: rgb(39, 39, 39);
line-height: 1.15em;
}
.mainstory a h2{
font-size: 3em;
}
.mainstory a h3{
font-size: 2em;
}
.secondarystory a h2{
font-size: 2em;
}
.tertiarystory a h2{
font-size: 1.25em;
border-top: 1.5px solid rgb(101, 90, 42);
padding-top: 0.25em;
}
.secondarystory p {
padding-bottom: 1rem;
margin-bottom: 0;
}
section a h2{
margin: 0.5rem 0.5rem 0rem;
}
section a p{ 
margin: 0rem 0.5rem 1rem;
}
figcaption, main.photogallery figcaption{ 
font-family: "gimlet-text", serif;
font-weight: 400;
font-style: normal;
color: rgb(39, 39, 39);
font-size: 0.75em;
margin: 0.5rem 0.5rem 2rem 0.5rem;
line-height: 1.25em;
}
article h2{
font-size: 3em;
margin: 0.5rem 0.5rem 0rem;
}
article p{ 
margin: 0rem 0.5rem 1rem;
}
aside{ 
background: rgb(189, 172, 97);;
padding-bottom: 2rem;
}
aside figure{ 
padding: 1rem 0.5rem 0rem 0.5rem;
}
aside .secondarystory h2{
font-size: 1.15em;
margin-left: 1rem;
}
aside .secondarystory p{
margin-left: 1rem;
padding: 0 0.5rem 1.5rem 0;
}
footer {
width: 100%;
height: 3rem;
background: rgb(101, 90, 42);
box-sizing: border-box;
}
footer p{
color: rgb(232, 233, 237);
padding: 1rem 0.5rem;
}
section.newsletter {
border-top: 1.5px solid rgb(101, 90, 42);
padding-top: 1rem;
margin-top: 1rem;
margin-bottom: 2rem;
}
/* Photo gallery page */
input[name="gallery"] {
display: none;
}
main.photogallery {
position: relative;
overflow: hidden;
padding-bottom: calc(148% + 4em);
grid-column: 1/3;
}
main.photogallery figure {
margin: 0;
width: 100%;
position: absolute;
opacity: 0;
transition: opacity 0.5s;
}
main.photogallery figcaption {
font-size: 1em;
margin: 0.75rem 0 0;
}
main.photogallery figure img {
width: 100%;
height: auto;
display: block;
}
.portfolio-intro {
grid-column: 1/3;
margin-bottom: 1rem;
}
.portfolio-intro h2, .newsletter h2 {
font-family: "hardcover-vf", sans-serif;
font-variation-settings: "wght" 700;
color: rgb(101, 90, 42);
font-size: 2.5em;
margin-bottom: 0.25rem;
}
input:nth-of-type(1):checked ~ main.photogallery figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main.photogallery figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main.photogallery figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main.photogallery figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main.photogallery figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main.photogallery figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main.photogallery figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main.photogallery figure:nth-of-type(8),
input:nth-of-type(9):checked ~ main.photogallery figure:nth-of-type(9),
input:nth-of-type(10):checked ~ main.photogallery figure:nth-of-type(10) {
opacity: 1;
}
nav.photogallery {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-column: 1/3;
grid-gap: 0.2em;
margin-bottom: 2rem;
}
nav.photogallery label {
cursor: pointer;
}
/* Subscription form */
.newsletter {
grid-column: 1/3;
margin: 0 0.5rem 2rem;
}
.newsletter figure {
margin-bottom: 1rem;
}
.newsletter p {
margin-bottom: 1rem;
}
.newsletter h3 {
padding-top: 1rem;
}
.newsletter form {
display: flex;
flex-direction: column;
margin-top: 1rem;
}
.newsletter label {
font-family: "gimlet-text", serif;
color: rgb(39, 39, 39);
font-size: 0.875em;
margin-bottom: 0.25rem;
}
.newsletter input [type="text"], .newsletter input [type="email"] {
font-family: "gimlet-text", serif;
font-size: 1em;
padding: 1rem;
margin-bottom: 1rem;
border: 1px solid rgb(101, 90, 42);
}
.newsletter input {
margin-bottom: 1rem;
}
.newsletter ul {
list-style: none;
margin: 1rem 0;
}
.newsletter li {
margin-bottom: 0.75rem;
}
.newsletter button {
font-family: "gimlet-text", serif;
font-size: 1em;
padding: 0.75rem;
background: rgb(101, 90, 42);
color: rgb(232, 233, 237);
border: none;
}

@media only screen and (min-width: 60em) {
nav ul{
margin-left: 0;
}
nav li{
display: inline-block;
padding-right: 2em;
}
h1, figcaption, article h2, article p, section a h2, section a p{ 
margin-left: 0em;
}
div.home-container{
max-width: 80em;
padding: 0 1em;
display: grid;
grid-template-columns: 3fr 1fr;
grid-gap: 1em;
}
div.container{
max-width: 60em;
padding: 0 1em;
display: grid;
grid-template-columns: 3fr 1fr;
grid-gap: 1em;
}
header, footer{
grid-column: 1/3;
}
div.home-container main {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1em;
}
div.home-container aside{
background: none;
padding: 0;
margin-top: 0;
}
div.container aside{
margin-top: 0;
}
section.mainstory{
grid-column: 2/4;
grid-row: 1/3;
display: flex;
}
section.mainstory a{ 
flex: 1 0 12em;
display: flex;
flex-direction: column;
}
section.mainstory a figure{
flex: 1 0 12em;
display: flex;
}
section.mainstory a figure img{
object-fit: cover;
}
section.mainstory a h2{
flex: 0 0 1em;
}
section.mainstory a p{
flex: 0 0 4em;
}
section.secondary{
display: flex;
}
section.secondary a{ 
flex: 1 0 12em;
display: flex;
flex-direction: column;
}
section.secondary a figure{
flex: 1 0 12em;
display: flex;
}
section.secondary a figure img{
object-fit: cover;
}
section.secondary a h2{
flex: 0 0 1em;
}
section.secondary a p{
flex: 0 0 4em;
}
}

@media screen and (prefers-color-scheme: dark) {

div.container, div.home-container {
background-color: rgb(39, 39, 39);
}

body {
    background: rgb(39, 39, 39);
}

nav a{
color: rgb(189, 172, 97);
}

h2, h3, article h2, .portfolio-intro h2, .newsletter h2{
color: rgb(189, 172, 97);
}

p, article p, section a p, .secondarystory p{
color: rgb(232, 233, 237);
}

.tertiarystory a h2{
border-top:1.5px solid rgb(189, 172, 97);
}

section.newsletter {
border-top: 1.5px solid rgb(189, 172, 97);
}

figcaption, main.photogallery figcaption{
color: rgb(232, 233, 237);
}

aside{ 
background: rgb(101, 90, 42);
}

.newsletter label{
color: rgb(232, 233, 237);
}

footer {
background: rgb(189, 172, 97);
}

footer p{
color: rgb(39, 39, 39);
}

.newsletter input [type="text"], .newsletter input [type="email"] {
border: 1px solid rgb(189, 172, 97);
}

.newsletter button {
font-family: "gimlet-text", serif;
font-size: 1em;
padding: 0.75rem;
background: rgb(189, 172, 97);
color: rgb(39, 39, 39);
}

h1 {  
background-image: url("images/logo-alt.svg");  
background-repeat: no-repeat;  
background-size: contain;  
}  

h1 img {  
opacity: 0;  
}  

}