/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container, div.home-container {
    max-width: 50em;
    margin: 0 auto;
}

nav ul  {
    margin: 0rem 0.5rem 1rem;
}

nav li{
	list-style-type: none;
    margin-bottom: 0.15em;
} 

nav a {
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(85, 119, 153);
    font-size: 1em;
    font-weight: bold;
    
}

section a{
    text-decoration: none;
}

h1 {
	width: 8em;
    margin: 1rem 0.5rem;
}

h2, article h2{
    font-family: serif;
    color: rgb(85, 119, 153);
    font-weight: bold;
}

p, article p, section a p, .secondarystory p{
    font-family: sans-serif;
    color: rgb(35, 35, 35);
    font-size: 1em;
    line-height: 1.25em;
}

.mainstory a h2{
    font-size: 3em;
}

.secondarystory a h2{
    font-size: 2em;
}

.tertiarystory a h2{
    font-size: 1.25em;
    border-top: 1.5px solid rgb(85, 119, 153);
    padding-top: 0.25em;
}

.secondarystory p {
    padding-bottom: 2rem;
    margin-bottom: 0;
}

section a h2{
    margin: 0.5rem 0.5rem 0rem;
}
section a p{ 
    margin: 0rem 0.5rem 2rem;
}

figcaption{ 
    font-family: sans-serif;
    color: rgb(72, 72, 72);
    font-size: 1em;
    font-style: italic;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    line-height: 1.25em;
}

article h2{
    font-size: 3em;
    margin: 0.5rem 0.5rem 0rem;
}

article p{ 
    margin: 0rem 0.5rem 2rem;
}

aside{ 
    background: rgb(204, 206, 255);
    padding-bottom: 2rem;
}

aside figure{ 
    padding: 1rem 0.5rem 0rem 0.5rem;
}

aside .secondarystory h2{
    font-size: 1.15em;
    margin-left: 1rem;
}

aside .secondarystory p{
    margin-left: 1rem;
    padding: 0 0.5rem 1.5rem 0;
}

footer {
    width: 100%;
    height: 3rem;
    background: rgb(85, 119, 153);
    box-sizing: border-box;
}

footer p{
	color: rgb(244, 244, 244);
    padding: 1rem 0.5rem;
}

@media only screen and (min-width: 50em) {

    nav ul{
        margin-left: 0;
    }
    
    nav li{
		display: inline-block;
		padding-right: 2em;
	}

    h1, figcaption, article h2, article p, section a h2, section a p{ 
        margin-left: 0em;
    }


}

@media only screen and (min-width: 60em) {

    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
     }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
     }

    header, footer{
        grid-column: 1/3;
     }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
     }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside{
        margin-top: 0;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{ 
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

     section.mainstory a p{
        flex: 0 0 4em;
    }

    section.secondary{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.secondary a{ 
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img{
        object-fit: cover;
    }

    section.secondary a h2{
        flex: 0 0 1em;
    }

     section.secondary a p{
        flex: 0 0 4em;
    }
}